.schemeInfo {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  height: max-content;
  padding: 3rem;
  text-align: "center";
  border-radius: 3rem !important;
  transition: all 0.2s ease-in-out 0s !important;
  background-color: white;
}

.info {
  text-align: center;
  width: 100%;
  height: max-content;
  font-weight: 600;
  word-wrap: break-word !important;
}

.info p {
  text-align: justify;
}

.infoHeader {
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .schemeInfo {
    position: absolute;
    left: 15%;
    top: 10%;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  .info img {
    width: 80% !important;
  }

  .schemeInfo {
    transform: scale(0.87);
    width: 70%;
    position: absolute;
    left: 2%;
    top: 5%;
  }
}
